Repository project44/manifest: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings 0

fix(dependencies): updated dependencies
  package.json
Due: prettier --write

fix(dependencies): added changeset
  .changeset/kind-teachers-itch.md
Due: prettier --write

fix(navigation tabs): use designtokens with variable names
  packages/react/package.json
  packages/react/src/components/NavigationTabs/CountLabel/index.tsx
  packages/react/src/components/NavigationTabs/index.tsx
  yarn.lock
Due: prettier --write, eslint --fix --max-warnings 0

fix(update storybook): updated storybook to v7
  .lintstagedrc
  apps/storybook/.eslintignore
  apps/storybook/.storybook/main.js
  apps/storybook/.storybook/preview.jsx
  apps/storybook/babel.config.json
  apps/storybook/package.json
  yarn.lock
Due: prettier --write, eslint --fix --max-warnings 0

fix(update storybook): added changeset
  .changeset/purple-bobcats-yell.md
Due: prettier --write

fix(update storybook): removed unused file
  apps/storybook/.eslintignore
Due: none

fix(update storybook): fix calendar range story rendering
  packages/react/stories/Calendar.stories.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix: updated dependencies (#508)
  .changeset/kind-teachers-itch.md
  package.json
Due: prettier --write

fix: updated storybook to v7 (#509)
  .changeset/purple-bobcats-yell.md
  .lintstagedrc
  apps/storybook/.storybook/main.js
  apps/storybook/.storybook/preview.jsx
  apps/storybook/babel.config.json
  apps/storybook/package.json
  packages/react/stories/Calendar.stories.tsx
  yarn.lock
Due: prettier --write, eslint --fix --max-warnings 0

fix: use storybook-manifest name instead of storybook
  .changeset/kind-teachers-itch.md
Due: prettier --write

fix: use storybook-manifest name instead of storybook
  .changeset/hungry-zoos-rescue.md
Due: prettier --write

fix: use storybook-manifest name instead of storybook (#510)
  .changeset/hungry-zoos-rescue.md
  .changeset/kind-teachers-itch.md
Due: prettier --write

fix(story structure): added changeset
  .changeset/shaggy-snails-dress.md
Due: prettier --write

fix(story structure): fix lint error
  packages/react/src/components/LocalNavigation/story/LocalNavigation.stories.tsx
  packages/react/src/components/action-card/story/action-card.stories.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix(tests structure): added changeset
  .changeset/good-pumas-kneel.md
Due: prettier --write

fix: website colors docs
  .changeset/beige-books-live.md
  apps/website/docs/core/colors.mdx
Due: prettier --write

fix: website colors docs (#513)
  .changeset/beige-books-live.md
  apps/website/docs/core/colors.mdx
Due: prettier --write

fix(MI-19): made changes to add highlight on menu group when it is not expanded
  packages/react/src/components/MenuGroup/MenuGroup.tsx
  packages/react/src/components/MenuGroup/MenuGroup.types.ts
  packages/react/src/components/SideNavigationMenuGroup/SideNavigationMenuGroup.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix(MI-19): fixed linting
  packages/react/src/components/MenuGroup/MenuGroup.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix(MI-19): added changesety
  .changeset/gold-spies-retire.md
Due: prettier --write

fix: made changes to add isSelected prop to menuGroup (#514)
  .changeset/gold-spies-retire.md
  packages/react/src/components/MenuGroup/MenuGroup.tsx
  packages/react/src/components/MenuGroup/MenuGroup.types.ts
  packages/react/src/components/SideNavigationMenuGroup/SideNavigationMenuGroup.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix(Navigation tabs): use object to fetch theme instead of function call
  packages/react/src/components/NavigationTabs/CountLabel/index.tsx
  packages/react/src/components/NavigationTabs/index.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix(MI-41): made changes in avatar story to add controls
  packages/react/src/components/avatar/story/avatar.stories.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix(MI-41): made changes in box story to add controls
  packages/react/src/components/box/story/box.stories.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix(MI-41): made changes in button story to add controls
  packages/react/src/components/button/story/button.stories.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix(MI-41): made changes in collapse story to add controls
  apps/storybook/.storybook/preview.jsx
  packages/react/src/components/Collapse/story/Collapse.stories.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix(MI-41): made changes in checkbox story to add controls
  packages/react/src/components/Checkbox/story/Checkbox.stories.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix(MI-41): made changes in combobox story to add controls
  packages/react/src/components/Combobox/story/Combobox.stories.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix(MI-41): made changes in container story to add controls
  packages/react/src/components/container/story/container.stories.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix(MI-41): made changes in dialog story to add controls
  packages/react/src/components/Dialog/story/Dialog.stories.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix(MI-41): made changes in fade story to add controls
  packages/react/src/components/Fade/story/Fade.stories.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix(MI-41): made changes in Grid story to add controls
  packages/react/src/components/grid/story/grid.stories.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix(MI-41): made changes in Icon Button story to add controls
  packages/react/src/components/Icon/story/icon-button.stories.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix(MI-41): made changes in Link story to add controls
  packages/react/src/components/Link/story/Link.stories.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix(MI-41): made changes in MultiComboBox story to add controls
  packages/react/src/components/MultiCombobox/story/MultiCombobox.stories.tsx
Due: prettier --write, eslint --fix --max-warnings 0

Path conditions:
  prettier --write: (any of: **/*.{ts,tsx,js,jsx}) or (any of: **/*.{md,mdx,yml,json})
  eslint --fix --max-warnings 0: any of: **/*.{ts,tsx,js,jsx}
